<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Your restaurant details</h1>
            <hr>

            <form action="/restaurants/create" method="POST">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="img">Profile Picture:</label>
                    <input type="text" class="form-control" id="img" name="profileImg">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div>
                    <p>Food Specialties:</p>
                </div>
                {{#each specialties}}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="{{name}}" value="{{id}}"
                            name="specialties">
                        <label class="form-check-label" for="{{name}}">{{name}}</label>
                    </div> 
                    {{/each}}
                    
                </div>

                <div class="form-group">
                    <label for="locationlat">Latitude:</label>
                    <input type="text" class="form-control" id="locationlat" name="locationlat">
                    <label for="locationlng">Longitude:</label>
                    <input type="text" class="form-control" id="locationlng" name="locationlng">
                </div>

                <figure id="create-form-map"></figure>

                <button type="submit" class="btn btn-dark btn-block">Save Restaurant</button>
                {{#if errorMessage}}
                <div id="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
            </form>

        </div>
    </div>
</div>
holi
<script src="/js/mapstyles.js"></script>
<script src="/js/create-form-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQNdNfWAoKxTrEjVfKHFCg_DkDpTcx6lM&callback=initMap"
    type="text/javascript"></script>