<h2>{{name}}</h2>

<img src="{{profileImg}}" alt="{{profileImg}}">

<p>{{description}}</p>

<h4>Food Specialties</h4>
{{!-- TODO populate specialties --}}
{{#each specialties}}
<li>{{name}}</li>
{{/each}}