<h2>RESTAURANT LIST</h2>

{{#each data}}
<h4>Name:</h4>
<p>{{name}}</p>

<img src=" {{profileImg}}" alt="{{profileImg}}">

<h4>Description:</h4>
<p>{{description}}</p>

<h4>Food Specialties:</h4>
<p>{{specialties}}</p>

{{/each}}