{{#with restaurant}}
<h2>{{name}}</h2>

<h4>Description:</h4>
<p>{{description}}</p>

<img src="{{profileImg}}" alt="{{profileImg}}">

<h4>Specialties:</h4>
{{#each menu}}
<p>{{name}}</p>
{{/each}}
{{/with}}

<h4>Menu:</h4>

{{#each restaurant.menu}}
<ul>
    <img src="{{profileImg}}" alt="{{name}}">
    <li>
        <h4>{{name}}</h4>
    </li>
    <li>{{description}}</li>
    <li>{{price}}€</li>
</ul>
{{/each}}
{{#with restaurant}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    ADD DISH
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="/user/my-restaurant/dish/{{id}}" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>

                        {{!-- <div class="form-group">
                            <label for="picture">Example file input</label>
                            <input type="file" class="form-control-file" id="picture" name="profileImg">
                        </div> --}}
                        <div class="form-group">
                            <label for="profileImg">Picture</label>
                            <input type="text" class="form-control" id="profileImg" name="profileImg">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" name="price">
                        </div>

                        <button type="submit" class="btn btn-dark btn-block">Create</button>
                        {{#if errorMessage}}
                        <div id="error">
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<h4>Availability:</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

            <form action="/restaurant/booking/manage-local/{{id}}" method="POST">
                <div class="form-group">
                    <label class="control-label" for="places">Places available:</label>
                    <input class="form-control" id="sites" name="sites" type="number" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>



    {{/with}}